
body{
    text-align: center;
    
}
html{
    background-color: beige;
}
button{
    border-radius: 10px;
    
}
img{

    height: 400px;
    width: 500px;
}
#buttons{
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 24px;
}
#Title{
    background-color: grey;
    text-align: center;

}
p{
    font-size: medium;
    
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

